// COLORS
$color-white: #fff;
$color-clouds: #ecf0f1;
$color-concrete: #95a5a6;
$color-asbestos: #7f8c8d;
$color-midnight-blue: #2c3e50;

$color-primary-linkedin: #2867B2;
$color-primary-github: #6e5494;