.contacts {
    display: flex;

    &--animated {
        animation: moveInBottom 0.5s ease-out .3s;
        animation-fill-mode: backwards;
    }

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6rem;
        height: 6rem;
        fill: $color-midnight-blue;
        transition: all .3s;
    }

    &__email:hover {
        background-color: $color-asbestos;
        fill: $color-white;
    }
    
    &__linkedin:hover {
        background-color: $color-primary-linkedin;
        fill: $color-white;
    }
    
    &__github:hover {
        background-color: $color-primary-github;
        fill: $color-white;
    }
    
    &__linkedin &__icon {
        margin-bottom: 5px;
    }
    
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
    }
}